body {
    background-color: rgb(255, 255, 255);
}

.logo {
    display: flex;
    justify-content: center;
}

.logo img {
    height: 200px;
    width: auto;
    margin-bottom: -50px;
    margin-top: -30px;
}

.main-menu {
    display: flex;
    background-color: rgb(255, 214, 171);
    justify-content: center;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-menu li {
    margin-right: 100px;
    margin-left: 100px;
    padding: 10px;
}

.main-menu a {
    text-decoration: none;
    color: gray;
    font-size: 25px;
    font-weight: 500;
}

.jumbotron {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    height: 500px;
}

#one {
    height: 400px;
    margin-right: 10px;
    margin-top: 30px;
}

#three {
    height: 400px;
    margin-left: 10px;
    margin-top: 30px;
}

.main-heading {
    text-align: center;
    font-size: 70px;
    font-family: Didot, serif;
    color: gray;
}

.second-heading {
    text-align: center;
    font-size: 50px;
    font-family: 'Snell Roundhand', cursive;
    color: rgb(255, 214, 171);
    margin-top: -60px;
}

.inquire {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(images/wedding.jpg);
    height: 400px;
}

.inquire a {
    text-decoration: none;
    background-color: whitesmoke;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 50px;
    border: 1px solid black;
    font-family: 'Snell Roundhand', cursive;
}

.get-to-know {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(247, 223, 197);
    height: 600px;
}

.get-to-know-info {
    display: flex;
    align-items: center;
    gap: 50px;
    max-width: 1200px;
}

.get-to-know-info p {
    width: 50%;
}

.get-to-know img {
    height: 500px;
    border: 20px solid white;
}