body {
    background-color: rgb(255, 255, 255);
}

.logo {
    display: flex;
    justify-content: center;
}

.logo img {
    height: 200px;
    width: auto;
    margin-bottom: -50px;
    margin-top: -30px;
}

.main-menu {
    display: flex;
    background-color: rgb(255, 214, 171);
    justify-content: center;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-menu li {
    margin-right: 100px;
    margin-left: 100px;
    padding: 10px;
}

.main-menu a {
    text-decoration: none;
    color: gray;
    font-size: 25px;
    font-weight: 500;
}

.jumbotron {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    height: 500px;
}

#one {
    height: 400px;
    margin-right: 10px;
    margin-top: 30px;
}

#three {
    height: 400px;
    margin-left: 10px;
    margin-top: 30px;
}

.main-heading {
    text-align: center;
    font-size: 70px;
    font-family: Didot, serif;
    color: gray;
}

.second-heading {
    text-align: center;
    font-size: 50px;
    font-family: 'Snell Roundhand', cursive;
    color: rgb(255, 214, 171);
    margin-top: -60px;
}

.inquire {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(images/wedding.jpg);
    height: 600px;
}

.inquire a {
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 50px;
    border: 1px solid black;
    font-family: 'Snell Roundhand', cursive;
    color: gray;
}

.get-to-know {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: rgb(252, 235, 218);
    height: 600px;
}

.get-to-know img {
    height: 500px;
    width: auto;
    border: 20px solid white;
    flex-shrink: 0;
}

.get-to-know p {
    color: gray;
    text-align: left;
}

.get-to-know h1 {
    color: gray;
    margin-bottom: -30px;
}

.get-to-know h2 {
    color: gray;
    font-family: 'Snell Roundhand', cursive;
    font-size: xx-large;
}

.aboutus_bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 450px;
}

.second-list {
    display: flex;
    background-color: rgb(255, 214, 171);
    justify-content: center;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

.second-list li {
    margin-right: 100px;
    margin-left: 100px;
    padding: 10px;
}

.second-list a {
    text-decoration: none;
    color: gray;
    font-size: 25px;
    font-weight: 500;
}

.contact-info img {
    height: 500px;
    width: auto;
    border: 20px solid white;
    flex-shrink: 0;
}